<!DOCTYPE html>
<html>
<head>
  <title>Apartment Details</title>
</head>
<body>
  <h1>Apartment Details List</h1>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Min Rent</th>
      <th>Max Rent</th>
      <th>Sqft</th>
      <th>Bed</th>
      <th>Bath</th>
      <th>State</th>
      <th>Beds</th>
      <th>Baths</th>
    </tr>
    <% apartments.forEach(function(apt) { %>
      <tr>
        <td><%= apt.apt_result_apartment_name %></td>
        <td><%= apt.apt_result_address %></td>
        <td><%= apt.apt_result_min_rent %></td>
        <td><%= apt.apt_result_max_rent %></td>
        <td><%= apt.apt_result_sqft %></td>
        <td><%= apt.apt_result_bed %></td>
        <td><%= apt.apt_result_bath %></td>
        <td><%= apt.state %></td>
        <td><%= apt.beds %></td>
        <td><%= apt.bath %></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>
